<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List By Taps!</title>
    <link rel="stylesheet" href="tampilan css to do list.css">
</head>
<body>
    <h1>HELLO</h1>
    <p class="p1">
        ""There is no such things as time management; there is only self-management"-Rory Vaden
    </p>
    <p class="p2">
        "All time management begins with planning"-Tom Greening
    </p>
    <br>
    <p class="p3">
    Buat perencanaan harianmu sendiri disini!
    untuk membuatnya, login dengan akun mu
    </p>
    <p class="p4">atau lakukan register bila belum memiliki akun.
<hr>
    </p>
    <form action="contact.php" method="POST">
        <fieldset>
        <legend>Login with your account</legend>
        <p>
            <label>Email:</label>
            <input type="email" name="email" placeholder="gmail or outlook." />
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Passowrd..." />
        </p>
        <p>
            <input type="submit" value="login">
        </p>
        </fieldset>
    </form>
    <p>Jika belum memiliki akun, kamu bisa registrasi terlebih dahulu!</p>
    <form action="contact.php" method="POST">
        <fieldset>
        <legend>registrasi</legend>
        <p>
            <label>Email:</label>
            <input type="email" name="email" placeholder="gmail or outlook." />
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Passowrd..." />
        </p>
        <p>
            <label>Username:</label>
            <input type="text" name="username" placeholder="@aida_chan" />
        </p>
        <p>
            <label>Jenis kelamin:</label>
            <label><input type="radio" name="jenis_kelamin" value="laki-laki" /> Laki-laki</label>
            <label><input type="radio" name="jenis_kelamin" value="perempuan" /> Perempuan</label>
        </p>
        <p>
            <input type="submit" value="submit">
        </p>
        </fieldset>

    
</body>
</html>