<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List! Add Task</title>
</head>
<body>
   
    <h2 style="bold"> Today, 6 Oct 1996 </h2>
    <br>
    <form action="contact.php" method="POST">
    <fieldset>
        <label>Add your task here</label>
        <textarea placeholder="Type your task here..."></textarea>
<input type="date">
<input type="submit" value="Save">


    </fieldset>
    <button class="Back"><a href="Homepage.html" >Back</a>
    </form>
    </body>

    </html>