{% extends "layout.html" %}

{% block body %}
    
    <br>
    <form action="{{url_for('addTask')}}" method="POST">
        <div class="mb-3">
          <label for="event" class="form-label">Event</label>
          <input type="text" class="form-control" id="event" name="event" required>
        </div>
        <div class="mb-3">
          <label for="eventDate" class="form-label">Event Date</label>
          <input type="date" class="form-control" id="eventDate" name="eventDate" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
{% endblock %}