<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List!-Edit Task</title>
</head>
<body>
    <form action="contact.php" method="POST">
        <fieldset>
            <label>your task at 6 Oct 1996</label>
            <textarea placeholder="text"></textarea>
            <input type="submit" value="Done">
            <input type="submit" value="Edit">
            <input type="submit" value="Delete">
        </p>
    
    </form>
    <button class="Back"><a href="Upcomming.html" >Back</a>
        
</body>
</html>