<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Make Comic</title>
    <link rel="stylesheet" href= "index.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="judul">To Do List</h1>

<ul>
        <li><a href="#">Task Today</a></li> 
        <li><a href="#">Profile</a></li> 
         <li><a href="#">Upcomming</a></li> 
        <li><a href="#">Contact</a></li>
        </div>
    
</ul>

<div>
    <div class="comic"></div>
</div>
<div class="content">
    <div class="main">
        <h2 class="title">To Do List</h2>
        <p class="penulis"> oleh Oktavian Pratama Raharja </p>
            <p class="text">
                Organize your activities to make your day more meaningful
                aplikasi website ini dibuat untuk memudahkan user dalam mengorganisasi kegiatan atau tugas 
                .,,,,,,,
                ,,,,
                ,,,
                ,,,
                ,,,
            </p></div>
    </div>
    <div class="sidebar">
        <h3>About Founder</h3>
        <img src="Okta.PNG" alt="oktavian pratama R">
       <p class="biodata">
           Aplikasi To Do List ini dibuat oleh Oktavian Pratama Raharja.
           Oktavian lahir di Bandung, pada tanggal 6 Oktober 1996. Dia berfokus pada bidang manajemen, akunting, dan perpajakan.
           Dia adalah mahasiswa lulusan kampus ternama, UIN Sunan Gunung Djati. Dia merupakan lulusan jurusan Manajemen. Dia membuktikan bahwa semua orang bisa menggunakan bahasa pemograman.
           khususnya pada era industri 4.0. sudah satu perempat abad 21 terlewati, maka kita harus bisa menempuh ab
       </p>
    </div>
</div>

        
 


</body>
</html>