<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List!-Login</title>
</head>
<body>
    <form action="contact.php" method="POST">
    <fieldset>
        <legend>Sign In</legend>
        <p>
            <label>Email:</label>
            <input type="email" name="email" placeholder="gmail or outlook." />
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Passowrd..." />
        </p>

            <input type="submit" value="Sign In"><a href="Homepage.html">login</a>
        </p>
        </fieldset>
    </form>
        
            <button class="Back"><a href="welcome.html" >Back</a>
        
        </fieldset>
    
</body>
</html>