<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List!-Profile</title>

  
    </style>
</head>
<body>
    <h2>Avatar Images</h2>
    <form action="contact.php" method="POST">
<ul>
    <input type="radio"name="female" value="female" /> female</label><li><img src="avatar female.PNG" alt="female" class="avatar"></li>
    <input type="radio"name="male"value="male"/> Male</ul></label><li><img src="avatar male.PNG" alt="Male" class="avatar"></li>
</ul>
</form>
 
    </body>
    </html>
    
</body>
</html>