<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List-Register</title>
</head>
<form action="{{url_for('register')}}" method="POST">
    <fieldset>
    <legend>Sign Up</legend>
        <label>Username:</label>
        <input type="text" name="username" placeholder="otappp" required/>
        <label>Email:</label>
        <input type="email" name="email" placeholder="gmail or outlook." required/>
        <label>Make Password:</label>
        <input type="password" name="password" placeholder="Passowrd..." required/>
   
        <!-- <label>Employment:</label>
        <input type="radio" name="Employment" value="Accounting" /> Accounting</label>
        <label><input type="radio" name="Employment" value="Teacher" /> Teacher</label>
        <label><input type="radio"name="Employment"value="Engineering"/>Engineering</label>
        <label><input type="text"name="Employment"value="Others" placeholder="Others"></label> -->
        <input type="submit" value="Sign Up"><a href="Homepage.html"></a>
    </p>
</form>
    </fieldset>


<body>
    
</body>
</html>